.superinfo,
header,
p {
    font-family: 'Rubik', sans-serif;
}

body,
h2,
h1 {
    font-family: 'Oswald', sans-serif;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* SUPERINFO */

.superinfo_bg {
    background-image: linear-gradient(to right, #7A5E85, #F67B2F);
    color: white;
}

.superinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 43px;
}

.superinfo i {
    margin-right: 10px;
}

.superinfo p {
    margin-right: 25px;
}

.superinfo a {
    color: white;
    text-decoration: none;
}

.superinfo_left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.superinfo_right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.superinfo_icon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* HEADER */

.header_bg {
    background-color: white;
}

.header {
    background-color: white;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    color: #FF8B00;
    font-weight: 700;
    font-size: 18px;
}

.logo a {
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    display: block;
    padding: 0 21px;
}

nav ul li a {
    color: #272727;
    text-decoration: none;
}

/* MAIN */

.main_bg {
    background: url(../img/bg-01.jpg), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 690px;
    line-height: 1.7em;
    height: 550px;
    margin: 0 auto;
}

.main h1 {
    font-size: 75px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.main p {
    margin-bottom: 40px;
    font-size: 18px;
}

.main button {
    padding: 10px 20px;
    background: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 3px;
    transition: 0.2s;
}

.main button:hover {
    padding: 10px 20px;
    background: white;
    color: black;
    border: 3px solid white;
    border-radius: 3px;
    transition-timing-function: linear;

}

/* SERVICES */

.services {
    display: flex;
    flex-direction: column;
    padding: 80px 0 60px 0;
    flex-wrap: wrap;
}

.service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
}

.land_property {
    max-width: 400px;
    margin-right: 80px;
}

.surface_mining {
    max-width: 400px;
    margin-left: 80px;
}

.check_services {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    flex-wrap: wrap;
}

.check_services i {
    display: flex;
    flex-wrap: wrap;
}

.check_services p {
    margin-left: 15px;
    font-family: 'Oswald', sans-serif;
}

.services h2 {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 400;
    margin-top: 30px;
}

.services p {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 300;
    color: #939393;
}

.services i {
    color: #FF8B00;
}

.fa-check {
    margin-right: 10px;
}

.services img {
    width: 580px;
    margin-bottom: 10px;
}

/* SERVICES 2 */

.services2_bg {
    background-color: #F8F9FA;
}

.services2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0 60px 0;
}

.about_service {
    max-width: 300px;
}

.about_service img {
    width: 60px;
    margin-bottom: 25px;
}

.about_service h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.about_service p {
    color: #939393;
    margin-bottom: 40px;
    font-weight: 300;
    letter-spacing: unset;
}

/* VIDEO */

.aboutus_bg {
    background-color: #343A40;
    font-family: 'Rubik', sans-serif;
    padding: 60px 0;
}

.video {
    margin-bottom: 30px;
}

.dados {
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    flex-wrap: wrap;
}

.dados h2 {
    font-size: 70px;
    border-bottom: 3px solid #939393;
}

.dados p {
    margin-top: 16px;
    font-size: 14px;
}

/* OUR TEAM */

.ourteam_bg {
    padding: 80px 0;
    text-align: center;
}

.text_ourteam {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.text_ourteam h2 {
    text-transform: uppercase;
    font-size: 50px;
    color: #FF8B00;
}

.text_ourteam p {
    font-size: 16px;
    color: #939393;
    margin-bottom: 70px;
}

.ourteam {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team_member {
    width: 31%;
    text-align: center;
    border: 1px solid #e7e7e7;
    margin-bottom: 25px;
    border-radius: 3px;
    padding: 25px 0;
    transition: 0.1s;
}

.team_member:hover {
    width: 31%;
    text-align: center;
    border: 1px solid #e7e7e7;
    margin-bottom: 31px;
    border-radius: 3px;
    padding: 25px 0;
    margin-top: -6px;
    transition-timing-function: linear;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.team_member ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team_member img {
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
}

.team_member i {
    background-color: #FF8B00;
    padding: 7px;
    color: white;
    margin: 15px 2px;
    width: 15px;
    border-radius: 4px;
}

.team_member i:hover {
    background-color: #fff;
    padding: 5px;
    color: #000;
    margin: 15px 2px;
    width: 15px;
    border-radius: 4px;
    border: 2px solid #FF8B00;
    transition-duration: 0.2s;
}

.team_member h3 {
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 10px;
}

.team_member p {
    text-transform: uppercase;
    font-size: 13px;
    color: #acacac;
    letter-spacing: 2px;
}

/* PRICES */

.pricing_bg {
    background-color: #F8F9FA;
    padding: 80px 0;
}

.pricing_text {
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
}

.pricing_text h2 {
    text-transform: uppercase;
    font-size: 50px;
    color: #FF8B00;
}

.pricing_text p {
    font-size: 16px;
    color: #939393;
    margin-bottom: 70px;
}

.pricing_plans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plan {
    padding: 30px;
    background-color: #fff;
    max-width: 300px;
    text-align: center;
}

.plan h3 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}


.plan span {
    text-transform: uppercase;
    font-size: 50px;
    color: #FF8B00;
    margin: 0 auto;
}

.plan p {
    font-weight: normal;
    margin-left: 17px;
    color: #939393;
    margin-bottom: 20px;
    text-align: center;
}

.plan i {
    display: flex;
    color: #7ABC42;
    flex-wrap: wrap;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    background-color: #5A6268;
    transition: 0.2s;
    margin: 0 auto;
}

.btn:hover {
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    background-color: rgb(68, 74, 78);
    transition-timing-function: linear;
}

.btn_premium {
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    background-color: #FF8B00;
    color: #fff;
    transition: 0.2s;
}

.btn_premium:hover {
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(194, 107, 0);
    color: #fff;
    transition-timing-function: linear;
}

.questions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0;
}

.question {
    max-width: 45%;
    margin-bottom: 30px;
}

.question h3 {
    font-size: 24px;
    margin-bottom: 17px;
}

.question p {
    color: #5A6268;
}

.question_text {
    text-transform: uppercase;
    font-size: 40px;
    color: #FF8B00;
    text-align: center;
    margin: 140px 0 80px 0;
}

/* PRESS */

.press {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 140px 0;
}

.column_press {
    max-width: 600px;
    margin-bottom: 50px;
}

.column_press h2 {
    font-size: 22px;
    font-weight: 400;
}

.column_press a {
    color: #000;
    text-decoration: none;
}

.column_press p {
    color: #5A6268;
}

.texto {
    text-transform: uppercase;
    font-size: 50px;
    color: #FF8B00;
}

/* BLOG */

.ourblog_bg {
    background-color: #F8F9FA;
    max-width: 1140px;
    margin: 0 auto;
}

.ourblog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0;
}

.ourblog_bg h2 {
    padding: 100px 0 50px 0;
    font-size: 50px;
    color: #FF8B00;
    text-transform: uppercase;
    text-align: center;
}

.post {
    width: 500px;
    box-sizing: border-box;
}

.post img { 
    max-width: 500px;
}

.post h1 {
    margin: 20px 0;
}

.post h1 a {
    font-size: 30px;
    text-transform: uppercase;
    color: #FF8B00;
    margin: 20px 0;
    transition: 0.1s;
}

.post h1 a:hover {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(189, 72, 0);
    margin: 20px 0;
    transition-timing-function: linear;
}

.post p {
    color: #939393;
    margin-bottom: 20px;
}

.post a {
    font-size: 18px;
    color: #FF8B00;
    text-decoration: none;
    transition: 0.1s;
}

.post a:hover {
    font-size: 18px;
    color: #FF8B00;
    text-decoration: none;
    color: rgb(189, 72, 0);
    transition-timing-function: linear;
}

/* CONTACT */

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form form {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form {
    width: 100%;
    max-width: 600px;
    padding-bottom: 120px;
}

.details {
    max-width: 30%;
}

.field {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    width: 500px;
    transition: 0.2s;
}

.field:hover {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #000;
    width: 500px;
    transition-timing-function: linear;
}

textarea {
    height: 250px;
    font-family: 'Rubik', sans-serif;
}

.form button {
    padding: 20px 55px;
    border: none;
    background-color: #FF8B00;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s;
}

.form button:hover {
    padding: 20px 55px;
    border: none;
    background-color: rgb(189, 72, 0);
    color: #fff;
    border-radius: 5px;
    transition-timing-function: linear
}

.contact_text {
    text-align: center;
}

.contact_text h2 {
    font-size: 50px;
    color: #FF8B00;
    text-transform: uppercase;
    padding: 100px 0 50px 0;
}

.details h2 {
    font-size: 30px;
    line-height: 1.2em;
}

.details p {
    color: #939393;
    margin-bottom: 20px;
}

.details button {
    padding: 10px 20px;
    border: none;
    background-color: #FF8B00;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s;
}

.details button:hover {
    padding: 10px 20px;
    border: none;
    background-color: rgb(189, 72, 0);
    color: #fff;
    border-radius: 5px;
    transition-timing-function: linear
}

/* FOOTER */

.footer_bg {
    background-image: linear-gradient(to right, #7A5E85, #F67B2F);
    padding: 100px 0;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_footer {
    max-width: 30%;
}

.about_footer h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features h3 {
    margin-bottom: 15px;
}

.features ul li {
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.features ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.2s
}

.features ul li a:hover {
    text-decoration: none;
    color: #fff;
    transition-timing-function: linear;
}

.newsletter h3 {
    margin-bottom: 15px;
}

.email {
    padding: 12px 30px;
}

.newsletter button {
    padding: 14px;
    background-color: #7A5E86;
    color: #fff;
    border-style: none;
    margin-left: -4px;
    margin-bottom: 40px;
}

.newsletter a {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 30px;
    transition: 0.2s
}

.newsletter a:hover {
    color: #fff;
    margin-right: 30px;
    transition-timing-function: linear;
}

@media screen and (max-width: 767px) {

    .service {
        padding: 15px;
    }

    .service img {
        width: 100%;
        height: 450px;
        margin: 0 auto;
    }

    .service h2,
    .service p {
        text-align: left;
        padding: 25px;
    }

    .check_services {
        padding: 25px;
    }

    .services2 {
        padding: 25px;
    }

    .aboutus iframe {
        width: 100%;
        margin-top: -250px;
        padding: 15px;
        margin-left: -20px;

    }

    .dados {
        display: flex;
        justify-content: space-between;
        margin-top: -250px;
        padding: 15px;
    }

    .dados_inf {
        width: 40%;
        padding: 15px;
    }

    .dados_inf h2 {
        font-size: 30px;
        padding: 15px;
    }

    .aboutus {
        height: 700px;
        padding: 25px;
    }

    .team_member {
        width: 100%;
    }

    .ourteam {
        padding: 15px;
    }

    .team_member:hover {
        width: 100%;
        margin-top: -6px;
        transition-timing-function: linear;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
        padding: 25px;
    }

    .plan {
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .question {
        max-width: 100%; 
        padding: 15px;
    }

    .press {
        padding: 15px;
    }

    .ourblog {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 15px;
    }

    .ourblog img {
        width: 100%;
    }

    .ourblog h1,
    .ourblog p {
        width: 430px;
    }

    .post {
        max-width: 90%;
        margin-bottom: 40px;
        margin: 0 auto;
    }

    .post p {
        max-width: 90%;
    }

    .form {
        margin-bottom: 20px;
        padding: 15px;
    }

    .pricing_text {
        padding: 15px;
    }

    .field {
        width: 87vw;
    }

    .field:hover {
        width: 87vw;
    }

    .text_ourteam {
        padding: 15px;
    }

    .details {
        max-width: 100%;
        padding: 15px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .about_footer {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .superinfo {
        padding: 15px;
    }

    .superinfo p {
        display: none;
    }

    .superinfo_right a i {
        margin-left: 50px;
    }

    .superinfo_left a i {
        margin-right: 50px;
    }
}