.superinfo, header {
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Oswald', sans-serif;
    line-height: 1.7;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

/* SUPERINFO */

.superinfo_bg {
    background-image: linear-gradient(to right, #7A5E85 , #F67B2F);
    color: white;
}

.superinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 43px;
}

.superinfo i {
    margin-right: 10px;
}

.superinfo p {
    margin-right: 25px;
}

.superinfo a {
    color: white;
    text-decoration: none;
}

.superinfo_left {
    display: flex;
    justify-content: space-between;
}

.superinfo_right {
    display: flex;
    justify-content: space-between;
}

.email_superinfo {
    display: flex;
    justify-content: space-between;
}

.tel_superinfo {
    display: flex;
    justify-content: space-between;
}

.twitter_superinfo {
    display: flex;
    justify-content: space-between;
}

.instagram_superinfo {
    display: flex;
    justify-content: space-between;
}

/* HEADER */

.header_bg {
    background-color: white;
}

.header {
    background-color: white;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    color: #FF8B00;
    font-weight: 700;
    font-size: 18px;
}

.logo a {
    text-decoration: none;
}

nav ul{
    display: flex;
}

nav ul li {
    display: block;
    padding: 0 21px;
}

nav ul li a {
    color: #272727;
    text-decoration: none;
}

/* MAIN */

.main_bg {
    background: url(../img/bg-01.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 690px;
    line-height: 1.7em;
    height: 550px;
    margin: 0 auto;
}

.main h1 {
    font-size: 75px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.main p {
    margin-bottom: 40px;
    font-size: 18px;
}

.main button {
    padding: 10px 20px;
    background: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 3px;
}

.main button:hover {
    padding: 10px 20px;
    background: white;
    color: black;
    border: 3px solid white;
    border-radius: 3px;
    transition: 0.3s;
}

/* SERVICES */

.services {
    display: flex;
    flex-direction: column;
    padding: 80px 0 60px 0;
}

.service {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.land_property {
    max-width: 400px;
    margin-right: 80px;
}

.surface_mining {
    max-width: 400px;
    margin-left: 80px;
}

.check_services {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.check_services i {
    display: flex;
}

.check_services p {
    margin-left: 15px;
    font-family: 'Oswald', sans-serif;
}

.services h2 {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 400;
    margin-top: 30px;
}

.services p {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 300;
    color: #939393;
}

.services i {
    color: #FF8B00;
}

.fa-check {
    margin-right: 10px;
}

.services img {
    width: 580px;
    margin-bottom: 10px;
}

/* SERVICES 2 */

.services2_bg {
    background-color: #F8F9FA;
}

.services2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 0 60px 0;
}

.about_service {
    max-width: 300px;
}

.about_service img {
    width: 60px;
    margin-bottom: 25px;
}

.about_service h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.about_service p {
    color: #939393;
    margin-bottom: 40px;
    font-weight: 300;
    letter-spacing: unset;
}

/* VIDEO */

.aboutus_bg {
    background-color: #343A40;
    font-family: 'Rubik', sans-serif;
    padding: 60px 0;
}

.video {
    margin-bottom: 30px;
}

.dados {
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
}

.dados h2 {
    font-size: 70px;
    border-bottom: 3px solid #939393;   
}

.dados p {
    margin-top: 16px;
    font-size: 14px;
}

/* OUR TEAM */

.ourteam_bg {
    padding: 80px 0;
    text-align: center;
}

.text_ourteam h2 {
    text-transform: uppercase;
    font-size: 50px;
    color: #FF8B00;
}

.text_ourteam p {
    font-size: 18px;
    color: #939393;
    margin-bottom: 70px;
}

.ourteam {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team_member {
    width: 31%;
    text-align: center;
    border: 1px solid #e7e7e7;
    margin-bottom: 25px;
    border-radius: 3px;
    padding: 25px 0;
}

.team_member:hover {
    width: 31%;
    text-align: center;
    border: 1px solid #e7e7e7;
    margin-bottom: 31px;
    border-radius: 3px;
    padding: 25px 0;
    margin-top: -6px;
    transition: 0.2s;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.team_member ul {
    display: flex;
    justify-content: center;
}

.team_member img {
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
}

.team_member i {
    background-color: #FF8B00;
    padding: 7px;
    color: white;
    margin: 15px 2px;
    width: 15px;
    border-radius: 4px;
}

.team_member i:hover {
    background-color: #fff;
    padding: 5px;
    color: #000;
    margin: 15px 2px;
    width: 15px;
    border-radius: 4px;
    border: 2px solid #FF8B00;
    transition: 0.2s;
}

.team_member h3 {
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 10px;
}

.team_member p {
    text-transform: uppercase;
    font-size: 13px;
    color: #acacac;
    letter-spacing: 2px;
}